<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simple Finance</title>
    <th:block th:replace="main/fragments-db :: headResources"></th:block>
</head>
<body class="bg-light">
<div class="container bg-white mt-4 p-0">
    <th:block th:replace="main/fragments-db :: indexNavbar"></th:block>
    <section id="about" class="py-5 bg-white">
        <div class="container px-4">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2>About us</h2>
                    <p>Simple Finance App allows you to manage your personal finances.</p>
                </div>
            </div>
        </div>
    </section>

    <div th:if="${helloMessage}">
        <a th:text="${helloMessage}"></a>
    </div>
</div>

<th:block th:replace="main/fragments-db :: jsBootstrapResources"></th:block>

</body>
</html>