<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <th:block th:replace="main/fragments-db :: headResources"></th:block>
</head>
<body class="bg-light">

<div class="container">
    <div class="row mt-5 justify-content-center">
        <form class="form-signin" style="min-width: 350px;" th:action="@{/login}" method="post">
            <div class="text-center">
                <img class="mb-4" th:src="@{/images/dolar-icon.jpg}" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            </div>
            <div th:if="${param.error}" class="alert alert-error text-center">
                <a class="text-danger">invalid username or password</a>
            </div>
            <label for="username" class="sr-only">Login</label>
            <input type="text" id="username" name="username" placeholder="login" class="form-control"
                   autocomplete="off" required>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" placeholder="password" class="form-control"
                   autocomplete="off" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <div class="text-center mt-3">
                <a class="text-primary" th:href="@{/register}">Sign up</a><br/>
                <a class="text-primary" th:href="@{/}">Home</a>
                <p class="mb-3 text-muted">© 2022</p>
            </div>
        </form>
    </div>
</div>

</body>
</html>